
.tab-nav{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.tab-nav button {
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 15%;
    height: 50px;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(55, 238, 248);
    font-weight: 700;
}

.tab-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
@media screen and (max-width: 800px){
    .tab-nav button{
        font-size: 0.75em;
        width: 150px;
    }
}

@media screen and (max-width: 390px) {
    .tab-nav, .tab-content{
        width: 380px;
        margin: auto;
    }
    .tab-nav button{
        height: 40px;
        width: 100px;
    }
}