#shopping-cart-page {
    max-width: 900px;
    margin: auto;
    font-size: 20px;
}

#shopping-cart-items {
    width: 100%;
    margin-top: 20px;
}

.cart-item-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.cart-item-container img {
    width: 20%;
}

.cart-item-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60px;
}

.cart-item-wrapper p {
    width: 40%;
    height: 100%;
    font-weight: 700;
    font-size: 0.75em;
}

.cart-item-wrapper p:nth-child(2){
    width: 5%;
    height: 100%;
    margin-left: 5px;
}

.cart-item-wrapper div {
    width: 20%;
    height: 100%;
    text-align: center;
}

.cart-btns{
    width: 20%;
    height: 30px;
}

.cart-item-wrapper span {
    font-size: 20px;
    margin: 10px;
}

.shopping-remove-btn{
    width: 7%;
    height: 35px; 
    border: none;
    background-color: white;
    margin-left: 5px;
}

.shopping-remove-btn:hover{
    border: solid 1px black;
}

.shopping-remove-btn img {
    width: 100%;
    height: 35px;
}

@media screen and (max-width: 390px) {
    #shopping-cart-page{
        width: 370px;
        margin-left: 10px;
    }
}

