#update-page{
    max-width: 650px;
    margin: auto;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}
#update-page h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50x;
    font-size: 35px;
}

#update-details{
    margin: auto;
    width: 90%;
    font-size: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.update-user-container{
    width: 100%;
    margin-bottom: 10px;
}
.update-user-container label{
    display: inline-block;
    width: 26%;
    height: 30px;
    margin-bottom: 5px;
}

.update-user-field{
    width: 70%;
    height: 30px;
    padding-left: 5px;
    border: solid 1px black;
    border-radius: 5px;
}
#update-user-additional-address{
    display: flex;
    flex-direction: row;
}
#other-info-wrapper{
    width: 70%;
    height: 30px;
}

#update-suburb{
    height: 30px;
    width: 35%;
    border: solid 1px black;
    border-radius: 5px;
    padding-left: 5px;
}

#update-state{
    height: 30px;
    width: 20%;
    margin-left: 10px;
    border: solid 1px black;
    border-radius: 5px;
    padding-left: 5px;
}

#update-postcode{
    height: 30px;
    width: 30%;
    margin-left: 10px;
    border: solid 1px black;
    border-radius: 5px;
    padding-left: 5px;
}
#button-container-logout {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-bottom: 20px;
    justify-content: end;
    column-gap: 10px;
    padding-right: 10px;
}

#button-container-logout button {
    border: solid 1px black;
    border-radius: 5px;
    color: white;
    background-color: rgb(50, 64, 255);
    width: 25%;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
#button-container-logout button:hover{
    background-color: rgb(11, 11, 254);
}

@media screen and (max-width: 390px) {
    #update-page{
        width: 390px;
    }
    #update-user-additional-address{
        display: flex;
        flex-direction: column;
    }
}