/*login-page*/
.login-page{
    text-align: center;
    margin: 30px auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 390px;
}

/*form-section*/
#login-form{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px 50px;
    flex-wrap: wrap;
    row-gap: 10px;
    max-width: 80%;
    min-width: 70%;
}

label, a, #show-password-container{
    text-align: left;
}

form button{
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(225, 222, 222);
    font-size: 1.5rem;
    cursor: pointer;
}

.fill-input {
    border-radius: 5px;
    border: solid 2px black;
    height: 30px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

#show-password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

span {
    margin-left: 5px;
    
}
